<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div id="app">
        <section>
            <div class="row">
                <div class="col" v-for="myPostItem in postList" :key="myPostItem.id">
                    <div class="card">
                        <img src="https://picsum.photos/200/300" alt="Une image aléatoire de Picsum">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ myPostItem.title }}
                            </h5>
                            <p class="card-text">
                                {{ myPostItem.body }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <button v-on:click="addLike(myPostItem)">Like</button>
                            <span>{{ myPostItem.likes ? myPostItem.likes : "0" }} like{{ myPostItem.likes && (myPostItem.likes > 1) ? "s" : "" }}</span>
                        </div>
                        <div class="comments">
                            <form v-on:submit.prevent="(event) => addComment(event, myPostItem)">       <!-- https://v2.fr.vuejs.org/v2/guide/events.html et capture de l'événement dans 'event'-->
                                <input type="text">
                            </form>
                            <div class="commentsList">
                                <div class="comment" v-for="myCommentItem in myPostItem.comments" :key="myCommentItem.id" >
                                    {{ myCommentItem.body }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="https://unpkg.com/vue@3"></script>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    postList: []        // création du tableau 'postList' pour recevoir les données json
                }
            },
            methods: {
                addLike(myPost) {
                    if (!myPost.likes) {
                        myPost.likes = 1    // initialisation du compteur qui n'existait pas encore (valeur NaN)
                    } else {
                        myPost.likes++      // incrément du nombre de 'likes' dans le 'myPost'
                    }
                },
                addComment(myEvent, myPost) {
                    const myValue = myEvent.target.elements[0].value           // myEvents contient tous les événements amenant à 'input', le premier est celui utile
                    const myComment = {                                         // élément structuré représentant un commentaire pour l'insérer dans la liste des commentaires
                        id: myPost.comments ? myPost.comments.length : 1,
                        body: myValue
                    }
                    if (myPost.comments) {
                        myPost.comments.push( myComment )     // cas d'un commentaire (second et suivant) pour cet élément '.card'
                    } else {
                        myPost.comments = [myComment]         // cas du premier commentaire de cette élément '.card'
                    }
                }
            },
            mounted() {
                fetch('https://jsonplaceholder.typicode.com/posts')     // API REST '/posts' pour 100 posts
                    .then(response => response.json())
                    .then(data => this.postList.push(...data))          // chargement des données json 'data' dans le tableau 'postList' (par 'spread syntax') 
            },
        }).mount('#app')
    </script>
</body>
</html>